{
  "openapi": "3.1.0",
  "info": {
    "title": "InterlinedList API",
    "version": "0.1.0",
    "description": "HTTP API for InterlinedList. Generated deterministically from the route tree under app/api/ and enriched from docs/api-reference.md by scripts/generate-openapi.js (`npm run docs:openapi`). Served at /api/openapi.json and rendered at /api-docs.\n\nMost endpoints accept either a session cookie (`interlinedlist-session`) or a Bearer sync token from POST /api/auth/sync-token. A subset (auth account management, exports, identities, organizations, LinkedIn, message dig, architecture aggregates) requires the session cookie."
  },
  "servers": [
    {
      "url": "https://interlinedlist.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Login, registration, sync tokens, password reset, account switching, OAuth provider flows."
    },
    {
      "name": "Messages",
      "description": "Posting, replies, dig reactions, scheduled posts, media uploads, cross-posting."
    },
    {
      "name": "Lists",
      "description": "List CRUD, schema/DSL, data rows, watchers, connections, search."
    },
    {
      "name": "List Folders",
      "description": "Folder hierarchy for organising lists."
    },
    {
      "name": "Documents",
      "description": "Document CRUD, delta sync, templates, search, image uploads."
    },
    {
      "name": "Document Folders",
      "description": "Folder hierarchy for organising documents."
    },
    {
      "name": "Users & Profile",
      "description": "Current user, profile updates, avatars, linked identities, public profiles."
    },
    {
      "name": "Following",
      "description": "Follow/unfollow, follow requests, follower & following lists."
    },
    {
      "name": "Organizations",
      "description": "Org CRUD, members, LinkedIn page integration. Session cookie required."
    },
    {
      "name": "Notifications",
      "description": "Notification tray, mark read, single & bulk operations."
    },
    {
      "name": "Push Notifications",
      "description": "Register and unregister APNS device tokens."
    },
    {
      "name": "Exports",
      "description": "CSV exports of messages, lists, list rows, and follows. Session cookie required."
    },
    {
      "name": "GitHub",
      "description": "Connected-account GitHub issue and repo helpers."
    },
    {
      "name": "LinkedIn",
      "description": "Personal LinkedIn posting targets and OAuth. Session cookie required."
    },
    {
      "name": "Utility",
      "description": "Geolocation, weather, image proxy, analytics, OAuth metadata, status probes."
    },
    {
      "name": "Billing",
      "description": "Stripe checkout and customer portal sessions."
    },
    {
      "name": "Admin",
      "description": "Admin-only user and email-log management."
    },
    {
      "name": "Webhooks & Cron",
      "description": "Internal endpoints: signature-verified webhooks and CRON_SECRET jobs. Not for general client use."
    },
    {
      "name": "Openapi.json"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "cookieAuth": []
    }
  ],
  "paths": {
    "/api/admin/email-logs": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Query params:",
        "operationId": "getAdminEmailLogs",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/admin/users": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get all users (admin only)",
        "operationId": "getAdminUsers",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "username": {
                            "type": "string"
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "avatar": {
                            "type": "string"
                          },
                          "bio": {
                            "type": "string"
                          },
                          "emailVerified": {
                            "type": "boolean"
                          },
                          "cleared": {
                            "type": "boolean"
                          },
                          "customerStatus": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "isAdministrator": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer"
                        },
                        "limit": {
                          "type": "integer"
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "hasMore": {
                          "type": "boolean"
                        }
                      }
                    }
                  },
                  "example": {
                    "users": [
                      {
                        "id": "...",
                        "email": "...",
                        "username": "...",
                        "displayName": "...",
                        "avatar": "...",
                        "bio": "...",
                        "emailVerified": true,
                        "cleared": false,
                        "customerStatus": "free",
                        "createdAt": "...",
                        "isAdministrator": false
                      }
                    ],
                    "pagination": {
                      "total": 1024,
                      "limit": 10,
                      "offset": 0,
                      "page": 1,
                      "hasMore": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Create a new user (admin only)",
        "operationId": "postAdminUsers",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "username": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "displayName": {
                    "type": "string"
                  },
                  "avatar": {},
                  "bio": {},
                  "emailVerified": {
                    "type": "boolean"
                  },
                  "isAdministrator": {
                    "type": "boolean"
                  },
                  "customerStatus": {
                    "type": "string"
                  }
                },
                "example": {
                  "email": "user@example.com",
                  "username": "user1",
                  "password": "min8chars",
                  "displayName": "User One",
                  "avatar": null,
                  "bio": null,
                  "emailVerified": false,
                  "isAdministrator": false,
                  "customerStatus": "free"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/admin/users/bulk-clearance": {
      "patch": {
        "tags": [
          "Admin"
        ],
        "summary": "Flip cleared status for each selected user (admin + Public owner only)",
        "operationId": "patchAdminUsersBulkClearance",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "userIds": [
                    "u1",
                    "u2",
                    "u3"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/admin/users/bulk-delete": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Delete multiple users (admin + Public owner only)",
        "operationId": "postAdminUsersBulkDelete",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "userIds": [
                    "u1",
                    "u2"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/admin/users/bulk-status": {
      "patch": {
        "tags": [
          "Admin"
        ],
        "summary": "Set emailVerified for multiple users (admin + Public owner only)",
        "operationId": "patchAdminUsersBulkStatus",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "emailVerified": {
                    "type": "boolean"
                  }
                },
                "example": {
                  "userIds": [
                    "u1",
                    "u2"
                  ],
                  "emailVerified": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/admin/users/{userId}": {
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Update a user (admin + Public owner only)",
        "operationId": "putAdminUsersByUserId",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Delete a user (admin only)",
        "operationId": "deleteAdminUsersByUserId",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/admin/users/{userId}/password": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Set a user's password (admin + Public owner only).",
        "operationId": "postAdminUsersByUserIdPassword",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string"
                  }
                },
                "example": {
                  "password": "min8chars"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/analytics/ingest": {
      "post": {
        "tags": [
          "Utility"
        ],
        "summary": "First-party analytics beacon.",
        "operationId": "postAnalyticsIngest",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string"
                  },
                  "path": {
                    "type": "string"
                  },
                  "referrer": {
                    "type": "string"
                  }
                },
                "example": {
                  "type": "page_view",
                  "path": "/dashboard",
                  "referrer": "https://google.com"
                }
              }
            }
          }
        },
        "security": [],
        "responses": {
          "201": {
            "description": "Successful response."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/api/architecture-aggregates/schema": {
      "get": {
        "tags": [
          "Utility"
        ],
        "summary": "Get ERD data from Prisma schema",
        "operationId": "getArchitectureAggregatesSchema",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/architecture-aggregates/{table}": {
      "get": {
        "tags": [
          "Utility"
        ],
        "summary": "Get paginated data from a database table (read-only, owner access only)",
        "operationId": "getArchitectureAggregatesByTable",
        "parameters": [
          {
            "name": "table",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/auth/accounts": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "List all cached (multi-account) sessions for the current browser cookie.",
        "operationId": "getAuthAccounts",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accounts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "username": {
                            "type": "string"
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "avatar": {}
                        }
                      }
                    },
                    "currentUserId": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "accounts": [
                      {
                        "id": "user1",
                        "username": "alice",
                        "displayName": "Alice",
                        "avatar": null
                      }
                    ],
                    "currentUserId": "user1"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/auth/bluesky/authorize": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Bluesky OAuth - Initiate authorization flow.",
        "operationId": "getAuthBlueskyAuthorize",
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        }
      }
    },
    "/api/auth/bluesky/callback": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Bluesky OAuth callback.",
        "operationId": "getAuthBlueskyCallback",
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        }
      }
    },
    "/api/auth/forgot-password": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Request a password-reset email.",
        "operationId": "postAuthForgotPassword",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  }
                },
                "example": {
                  "email": "you@example.com"
                }
              }
            }
          }
        },
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "message": "If an account with that email exists, a password reset link has been sent."
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/api/auth/github/authorize": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "GET /api/auth/github/authorize",
        "operationId": "getAuthGithubAuthorize",
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        }
      }
    },
    "/api/auth/github/callback": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "GET /api/auth/github/callback",
        "operationId": "getAuthGithubCallback",
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        }
      }
    },
    "/api/auth/linkedin/authorize": {
      "get": {
        "tags": [
          "LinkedIn"
        ],
        "summary": "GET /api/auth/linkedin/authorize",
        "operationId": "getAuthLinkedinAuthorize",
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        }
      }
    },
    "/api/auth/linkedin/callback": {
      "get": {
        "tags": [
          "LinkedIn"
        ],
        "summary": "GET /api/auth/linkedin/callback",
        "operationId": "getAuthLinkedinCallback",
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        }
      }
    },
    "/api/auth/linkedin/org-authorize": {
      "get": {
        "tags": [
          "LinkedIn"
        ],
        "summary": "Start the LinkedIn OAuth flow that connects a shared organization LinkedIn credential.",
        "operationId": "getAuthLinkedinOrgAuthorize",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/auth/linkedin/org-callback": {
      "get": {
        "tags": [
          "LinkedIn"
        ],
        "summary": "LinkedIn redirect target for the org flow.",
        "operationId": "getAuthLinkedinOrgCallback",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/auth/linkedin/status": {
      "get": {
        "tags": [
          "LinkedIn"
        ],
        "summary": "Check whether LinkedIn OAuth is configured on this server.",
        "operationId": "getAuthLinkedinStatus",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "configured": {
                      "type": "boolean"
                    },
                    "redirectUri": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "configured": true,
                    "redirectUri": "https://..."
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/auth/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Authenticate with email and password; sets a session cookie.",
        "operationId": "postAuthLogin",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                },
                "example": {
                  "email": "you@example.com",
                  "password": "yourpassword"
                }
              }
            }
          }
        },
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "username": {
                          "type": "string"
                        },
                        "displayName": {
                          "type": "string"
                        },
                        "avatar": {},
                        "bio": {},
                        "theme": {},
                        "emailVerified": {
                          "type": "boolean"
                        },
                        "createdAt": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "example": {
                    "message": "Login successful",
                    "user": {
                      "id": "clxyz...",
                      "email": "you@example.com",
                      "username": "yourhandle",
                      "displayName": "Your Name",
                      "avatar": null,
                      "bio": null,
                      "theme": null,
                      "emailVerified": true,
                      "createdAt": "2026-01-01T00:00:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Destroy the current session (or all sessions with all=true).",
        "operationId": "postAuthLogout",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string"
                  }
                },
                "example": {
                  "message": "Logged out successfully"
                }
              }
            }
          }
        },
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "message": "Logged out successfully"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/api/auth/mastodon/authorize": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "GET /api/auth/mastodon/authorize",
        "operationId": "getAuthMastodonAuthorize",
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        }
      }
    },
    "/api/auth/mastodon/callback": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "GET /api/auth/mastodon/callback",
        "operationId": "getAuthMastodonCallback",
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        }
      }
    },
    "/api/auth/register": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Create a new user account; sets a session cookie and sends a verification email.",
        "operationId": "postAuthRegister",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "username": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "displayName": {
                    "type": "string"
                  }
                },
                "example": {
                  "email": "you@example.com",
                  "username": "yourhandle",
                  "password": "minimum8chars",
                  "displayName": "Your Name"
                }
              }
            }
          }
        },
        "security": [],
        "responses": {
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "username": {
                          "type": "string"
                        },
                        "displayName": {
                          "type": "string"
                        },
                        "avatar": {},
                        "bio": {},
                        "theme": {},
                        "emailVerified": {
                          "type": "boolean"
                        },
                        "createdAt": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "example": {
                    "message": "User created successfully",
                    "user": {
                      "id": "clxyz...",
                      "email": "you@example.com",
                      "username": "yourhandle",
                      "displayName": "Your Name",
                      "avatar": null,
                      "bio": null,
                      "theme": null,
                      "emailVerified": false,
                      "createdAt": "2026-06-04T00:00:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/api/auth/remove-account": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Remove a cached account from the multi-account session list.",
        "operationId": "postAuthRemoveAccount",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string"
                  }
                },
                "example": {
                  "userId": "user2"
                }
              }
            }
          }
        },
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "message": "Account removed"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/auth/reset-password": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Complete a password reset using the token from the reset email.",
        "operationId": "postAuthResetPassword",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                },
                "example": {
                  "token": "<reset-token>",
                  "password": "newpassword123"
                }
              }
            }
          }
        },
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "message": "Password has been reset successfully"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/api/auth/send-verification-email": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Resend the email verification email.",
        "operationId": "postAuthSendVerificationEmail",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "message": "Verification email sent successfully"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/auth/switch": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Switch the active session to a different cached account.",
        "operationId": "postAuthSwitch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string"
                  }
                },
                "example": {
                  "userId": "user2"
                }
              }
            }
          }
        },
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "message": "Switched successfully"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/auth/sync-token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Authenticate with email and password; returns a sync token (API key) for CLI use.",
        "operationId": "postAuthSyncToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                },
                "example": {
                  "email": "you@example.com",
                  "password": "yourpassword"
                }
              }
            }
          }
        },
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "token": "a3f8...64-char hex...",
                    "message": "Sync token created. Store it in your CLI config."
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/api/auth/twitter/authorize": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "GET /api/auth/twitter/authorize",
        "operationId": "getAuthTwitterAuthorize",
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        }
      }
    },
    "/api/auth/twitter/callback": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "GET /api/auth/twitter/callback",
        "operationId": "getAuthTwitterCallback",
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        }
      }
    },
    "/api/auth/twitter/status": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Check whether Twitter/X OAuth is configured on this server.",
        "operationId": "getAuthTwitterStatus",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "configured": {
                      "type": "boolean"
                    },
                    "redirectUri": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "configured": true,
                    "redirectUri": "https://..."
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/auth/verify-email": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Verify a user's email address using the token sent at registration.",
        "operationId": "postAuthVerifyEmail",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string"
                  }
                },
                "example": {
                  "token": "<verification-token>"
                }
              }
            }
          }
        },
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "message": "Email verified successfully"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/api/auth/verify-email-change": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Confirm a requested email address change using the token sent to the new address.",
        "operationId": "postAuthVerifyEmailChange",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string"
                  }
                },
                "example": {
                  "token": "<email-change-token>"
                }
              }
            }
          }
        },
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "message": "Email updated successfully"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/api/cron/publish-scheduled-messages": {
      "get": {
        "tags": [
          "Webhooks & Cron"
        ],
        "summary": "Cron: publishes scheduled messages whose scheduledAt has passed.",
        "operationId": "getCronPublishScheduledMessages",
        "description": "Internal job protected by CRON_SECRET (Bearer). Not for general client use.",
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        }
      }
    },
    "/api/cron/sync-github-lists": {
      "get": {
        "tags": [
          "Webhooks & Cron"
        ],
        "summary": "Hourly cron: syncs all GitHub-backed lists from GitHub API to cache.",
        "operationId": "getCronSyncGithubLists",
        "description": "Internal job protected by CRON_SECRET (Bearer). Not for general client use.",
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response."
          }
        }
      }
    },
    "/api/documents": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Get root-level documents (folderId is null) for the current user",
        "operationId": "getDocuments",
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Documents"
        ],
        "summary": "Create a root-level document (folderId is null)",
        "operationId": "postDocuments",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string"
                  },
                  "relativePath": {
                    "type": "string"
                  },
                  "isPublic": {
                    "type": "boolean"
                  }
                },
                "example": {
                  "title": "My Notes",
                  "content": "# Hello\n\nMarkdown content.",
                  "relativePath": "my-notes.md",
                  "isPublic": false
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/documents/folders": {
      "get": {
        "tags": [
          "Document Folders"
        ],
        "summary": "Get root folders for the current user",
        "operationId": "getDocumentsFolders",
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "folders": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "parentId": {},
                          "documents": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "relativePath": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "example": {
                    "folders": [
                      {
                        "id": "f1",
                        "name": "Work",
                        "parentId": null,
                        "documents": [
                          {
                            "id": "doc1",
                            "title": "Meeting Notes",
                            "relativePath": "meeting-notes.md"
                          }
                        ]
                      },
                      {
                        "id": "f2",
                        "name": "Projects",
                        "parentId": "f1",
                        "documents": []
                      },
                      {
                        "id": "f3",
                        "name": "Archive",
                        "parentId": "f1",
                        "documents": [
                          {
                            "id": "doc2",
                            "title": "Old Spec",
                            "relativePath": "old-spec.md"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Document Folders"
        ],
        "summary": "Create a new folder",
        "operationId": "postDocumentsFolders",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "parentId": {
                    "type": "string"
                  }
                },
                "example": {
                  "name": "Projects",
                  "parentId": "f1"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/documents/folders/{id}": {
      "get": {
        "tags": [
          "Document Folders"
        ],
        "summary": "Get a folder by ID with children and documents",
        "operationId": "getDocumentsFoldersById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Document Folders"
        ],
        "summary": "Update a folder (rename, move)",
        "operationId": "putDocumentsFoldersById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "parentId": {
                    "type": "string"
                  }
                },
                "example": {
                  "name": "Renamed Folder",
                  "parentId": "f3"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Document Folders"
        ],
        "summary": "Soft delete a folder (cascade to children and documents)",
        "operationId": "deleteDocumentsFoldersById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "message": "Folder deleted successfully"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/documents/folders/{id}/documents": {
      "get": {
        "tags": [
          "Document Folders"
        ],
        "summary": "List documents in a folder",
        "operationId": "getDocumentsFoldersByIdDocuments",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "tags": [
          "Document Folders"
        ],
        "summary": "Create a new document in a folder",
        "operationId": "postDocumentsFoldersByIdDocuments",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string"
                  },
                  "relativePath": {
                    "type": "string"
                  },
                  "isPublic": {
                    "type": "boolean"
                  }
                },
                "example": {
                  "title": "Meeting Notes",
                  "content": "# Agenda\n\n...",
                  "relativePath": "meeting-notes.md",
                  "isPublic": false
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/documents/from-template": {
      "post": {
        "tags": [
          "Documents"
        ],
        "summary": "Body: { templateDocumentId: string, targetFolderId?: string | null }",
        "operationId": "postDocumentsFromTemplate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "templateDocumentId": {
                    "type": "string"
                  },
                  "targetFolderId": {
                    "type": "string"
                  }
                },
                "example": {
                  "templateDocumentId": "doc_tmpl",
                  "targetFolderId": "folder123"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/documents/search": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Search documents by title or content",
        "operationId": "getDocumentsSearch",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "documents": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "content": {
                            "type": "string"
                          },
                          "folderId": {
                            "type": "string"
                          },
                          "isPublic": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer"
                        },
                        "limit": {
                          "type": "integer"
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "hasMore": {
                          "type": "boolean"
                        }
                      }
                    }
                  },
                  "example": {
                    "documents": [
                      {
                        "id": "doc1",
                        "title": "Meeting Notes",
                        "content": "Full document body...",
                        "folderId": "f1",
                        "isPublic": false,
                        "createdAt": "2026-06-21T12:00:00.000Z",
                        "updatedAt": "2026-06-21T12:00:00.000Z"
                      }
                    ],
                    "pagination": {
                      "total": 3,
                      "limit": 20,
                      "offset": 0,
                      "hasMore": false
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/documents/sync": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Return folders and documents changed since lastSyncAt (delta sync).",
        "operationId": "getDocumentsSync",
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Documents"
        ],
        "summary": "Apply batch of create/update/delete operations from CLI",
        "operationId": "postDocumentsSync",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "operations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "op": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "path": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "operations": [
                    {
                      "op": "create",
                      "type": "folder",
                      "path": "Work/Projects"
                    },
                    {
                      "op": "create",
                      "type": "document",
                      "path": "Work/Projects/notes.md",
                      "data": {
                        "id": "doc_cli_1",
                        "folderId": "f1",
                        "title": "Notes",
                        "content": "# Hello",
                        "relativePath": "notes.md",
                        "isPublic": false
                      }
                    },
                    {
                      "op": "delete",
                      "type": "document",
                      "path": "old.md",
                      "data": {
                        "id": "doc_old"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lastSyncAt": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "lastSyncAt": "2026-06-04T12:05:00.000Z"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/documents/templates": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Ensures _templates root folder exists; lists template documents.",
        "operationId": "getDocumentsTemplates",
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/documents/templates/seed-defaults": {
      "post": {
        "tags": [
          "Documents"
        ],
        "summary": "Idempotently adds default Recipe and Social Media Campaign templates.",
        "operationId": "postDocumentsTemplatesSeedDefaults",
        "responses": {
          "201": {
            "description": "Successful response."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/documents/{id}": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Get a document by ID (owner or public)",
        "operationId": "getDocumentsById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Documents"
        ],
        "summary": "Update a document",
        "operationId": "putDocumentsById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Documents"
        ],
        "summary": "Alias for PUT — iOS client uses PATCH for partial document updates,",
        "operationId": "patchDocumentsById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string"
                  },
                  "isPublic": {
                    "type": "boolean"
                  },
                  "folderId": {
                    "type": "string"
                  }
                },
                "example": {
                  "title": "Updated Title",
                  "content": "New markdown content",
                  "isPublic": true,
                  "folderId": "folder123"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Documents"
        ],
        "summary": "Soft delete a document and cascade delete blob images",
        "operationId": "deleteDocumentsById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "message": "Document deleted successfully"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/documents/{id}/images/upload": {
      "post": {
        "tags": [
          "Documents"
        ],
        "summary": "Upload an image to embed in a document.",
        "operationId": "postDocumentsByIdImagesUpload",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "url": "https://vercel-blob.com/documents/..."
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/exports/follows": {
      "get": {
        "tags": [
          "Exports"
        ],
        "summary": "Export user's follow relationships as CSV",
        "operationId": "getExportsFollows",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/exports/list-data-rows": {
      "get": {
        "tags": [
          "Exports"
        ],
        "summary": "Export user's list data rows as CSV",
        "operationId": "getExportsListDataRows",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/exports/lists": {
      "get": {
        "tags": [
          "Exports"
        ],
        "summary": "Export user's lists as CSV",
        "operationId": "getExportsLists",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/exports/messages": {
      "get": {
        "tags": [
          "Exports"
        ],
        "summary": "Export user's messages as CSV",
        "operationId": "getExportsMessages",
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/folders": {
      "get": {
        "tags": [
          "List Folders"
        ],
        "summary": "Get all non-deleted list folders for the authenticated user",
        "operationId": "getFolders",
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "folders": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "parentId": {}
                        }
                      }
                    }
                  },
                  "example": {
                    "folders": [
                      {
                        "id": "f1",
                        "name": "Work",
                        "parentId": null
                      },
                      {
                        "id": "f2",
                        "name": "Projects",
                        "parentId": "f1"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "List Folders"
        ],
        "summary": "Create a new list folder (subscribers only)",
        "operationId": "postFolders",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "parentId": {}
                },
                "example": {
                  "name": "My Folder",
                  "parentId": null
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "folder": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "parentId": {}
                      }
                    }
                  },
                  "example": {
                    "message": "Folder created successfully",
                    "folder": {
                      "id": "f1",
                      "name": "My Folder",
                      "parentId": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/folders/{id}": {
      "put": {
        "tags": [
          "List Folders"
        ],
        "summary": "Rename or move a list folder",
        "operationId": "putFoldersById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "parentId": {
                    "type": "string"
                  }
                },
                "example": {
                  "name": "New Name",
                  "parentId": "f3"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "folder": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "parentId": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "example": {
                    "message": "Folder updated successfully",
                    "folder": {
                      "id": "f1",
                      "name": "New Name",
                      "parentId": "f3"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "List Folders"
        ],
        "summary": "Soft-delete a list folder; detach its lists first",
        "operationId": "deleteFoldersById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "message": "Folder deleted successfully"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/follow/requests": {
      "get": {
        "tags": [
          "Following"
        ],
        "summary": "Get pending follow requests for the current user",
        "operationId": "getFollowRequests",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requests": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "username": {
                            "type": "string"
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "avatar": {},
                          "followId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "example": {
                    "requests": [
                      {
                        "id": "u3",
                        "username": "bob",
                        "displayName": "Bob",
                        "avatar": null,
                        "followId": "fol2",
                        "createdAt": "2026-06-04T10:00:00.000Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/follow/{userId}": {
      "post": {
        "tags": [
          "Following"
        ],
        "summary": "Follow a user",
        "operationId": "postFollowByUserId",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "follow": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "followerId": {
                          "type": "string"
                        },
                        "followingId": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "example": {
                    "follow": {
                      "id": "fol1",
                      "followerId": "u1",
                      "followingId": "u2",
                      "status": "approved",
                      "createdAt": "...",
                      "updatedAt": "..."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Following"
        ],
        "summary": "Unfollow a user",
        "operationId": "deleteFollowByUserId",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "message": "Unfollowed successfully"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/follow/{userId}/approve": {
      "post": {
        "tags": [
          "Following"
        ],
        "summary": "Approve a pending follow request",
        "operationId": "postFollowByUserIdApprove",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "follow": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "followerId": {
                          "type": "string"
                        },
                        "followingId": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "example": {
                    "follow": {
                      "id": "...",
                      "followerId": "u3",
                      "followingId": "u1",
                      "status": "approved",
                      "createdAt": "...",
                      "updatedAt": "..."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/follow/{userId}/counts": {
      "get": {
        "tags": [
          "Following"
        ],
        "summary": "Get follower/following counts for a user",
        "operationId": "getFollowByUserIdCounts",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "followers": {
                      "type": "integer"
                    },
                    "following": {
                      "type": "integer"
                    }
                  },
                  "example": {
                    "followers": 42,
                    "following": 17
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/follow/{userId}/followers": {
      "get": {
        "tags": [
          "Following"
        ],
        "summary": "Get list of users following a user",
        "operationId": "getFollowByUserIdFollowers",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "followers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "username": {
                            "type": "string"
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "avatar": {},
                          "followId": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer"
                        },
                        "limit": {
                          "type": "integer"
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "hasMore": {
                          "type": "boolean"
                        }
                      }
                    }
                  },
                  "example": {
                    "followers": [
                      {
                        "id": "u2",
                        "username": "alice",
                        "displayName": "Alice",
                        "avatar": null,
                        "followId": "fol_123",
                        "status": "approved",
                        "createdAt": "2026-06-04T10:00:00.000Z"
                      }
                    ],
                    "pagination": {
                      "total": 42,
                      "limit": 50,
                      "offset": 0,
                      "hasMore": false
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/follow/{userId}/following": {
      "get": {
        "tags": [
          "Following"
        ],
        "summary": "Get list of users a user is following",
        "operationId": "getFollowByUserIdFollowing",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "following": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "username": {
                            "type": "string"
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "avatar": {},
                          "followId": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer"
                        },
                        "limit": {
                          "type": "integer"
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "hasMore": {
                          "type": "boolean"
                        }
                      }
                    }
                  },
                  "example": {
                    "following": [
                      {
                        "id": "u4",
                        "username": "carol",
                        "displayName": "Carol",
                        "avatar": null,
                        "followId": "fol_456",
                        "status": "approved",
                        "createdAt": "2026-06-04T10:00:00.000Z"
                      }
                    ],
                    "pagination": {
                      "total": 17,
                      "limit": 50,
                      "offset": 0,
                      "hasMore": false
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/follow/{userId}/mutual": {
      "get": {
        "tags": [
          "Following"
        ],
        "summary": "Get mutual connections between current user and specified user",
        "operationId": "getFollowByUserIdMutual",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mutualFollowers": {
                      "type": "integer"
                    },
                    "mutualFollowing": {
                      "type": "integer"
                    }
                  },
                  "example": {
                    "mutualFollowers": 4,
                    "mutualFollowing": 6
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/follow/{userId}/reject": {
      "post": {
        "tags": [
          "Following"
        ],
        "summary": "Reject a pending follow request",
        "operationId": "postFollowByUserIdReject",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "message": "Follow request rejected"
                  }
                }
              }
            }
[...]
